<a class="login-back" href="/">Back</a>
<form class="login-form" action="/login" method="post">

    <div class="username">
        <label for="username">Username</label>
        <input type="text" name="username" value="">
    </div>

    <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" value="">
    </div>

    <button class="submit-btn" type="submit" name="button">Log In</button>
</form>
